@font-face {
  font-family: sus;
  src: url(/img/sus.ttf);
}

::-webkit-scrollbar {
  width: 5px;
  right: 5px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

body {
  background: url(/img/bg.jpeg) no-repeat center center fixed;
  background-size: cover;
  color: pink;
  font-family: 'Comic Neue', sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
}

.app {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-green {
  font-family: Arial, sans-serif;
  color: rgb(104, 255, 104);
  background: #000;
}

.text-blue {
  font-family: monospace, sans-serif;
  color: rgb(105, 105, 255);
  background: #000;
}


.text-red {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 54, 54);
  background: #000;
}

p {
  background-color: #000;
}

button {
  border: 1.5px solid white;
  padding: 1.5rem;
  background: #000;
  border-radius: 1.5rem;
  font-size: 3rem;
  color: white;
  font-family: 'sus', cursive;
  transition: all 0.2s ease;
}

button.small {
  border: 1.5px solid white;
  padding: 0.2rem;
  background: #000;
  border-radius: 1.5rem;
  font-size: 3rem;
  color: white;
  font-family: 'sus', cursive;
  transition: all 0.2s ease;
}

button:disabled {
  opacity: 0.25;
}

input {
  border: 1.5px solid white;
  padding: 2rem;
  background: #000;
  border-radius: 1.5rem;
  font-size: 3rem;
  color: white;
  font-family: monospace;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

#enable {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.anim-shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shaker:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}

.fade {
  opacity: 0.5;
}